.new-challenge-item {
    color: #c6c6c6 !important;
    background-color: #d9d9d92e;
    border: 5px solid #ffffff14;
    border-radius: 2px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 1.2em;
    transition: 0.2s;
}

    .new-challenge-item:hover {
        color: #fff !important;
        border: 5px solid #ffffff2e;
        transition: 0.2s;
    }

@media (max-width: 767px) {
    .new-challenge-item {
        height: 120px;
        line-height: 120px;
    }
}