@page "/about"

<PageTitle>
    About | PhotoChallenge
</PageTitle>

<section class="section">
    <h1 class="page-title">
        <span>
            About application
        </span>
    </h1>

    <p class="text-2 align-center">
        <span class="mark">PhotoChallenge</span> allows you to take photos and get a rating. New challenges are updated regularly.
    </p>
    <p class="text align-center">
        Made with <span class="mark">C#</span> and <span class="mark">Blazor WebAssembly</span> in Nov-Dec 2021. No JavaScript.
    </p>
</section>

<section class="section">
    <h1 class="page-title">
        <span>
            About author
        </span>
    </h1>

    <p class="text-2 align-center">
        Mark Sevastyanov, St. Petersburg (Russia). Software dev since 2017.
    </p>

    <div class="social">
        <a href="http://t.me/yaskarm" target="_blank" class="social-link">
            <i class="fab fa-telegram-plane"></i>
        </a>
        <a href="https://www.instagram.com/marksevastyanov" target="_blank" class="social-link">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/sevastyanov" target="_blank" class="social-link">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://vk.com/yaskarm" target="_blank" class="social-link">
            <i class="fab fa-vk"></i>
        </a>
    </div>
</section>

<section class="section">
    <h1 class="page-title">
        <span>
            About wallpaper photo
        </span>
    </h1>

    <p class="text-2 align-center">
        The wallpaper photo was taken by <a href="https://www.instagram.com/marksevastyanov" target="_blank" class="link">@@marksevastyanov</a> in Stockholm, Sweden on October 31, 2019.
    </p>
</section>