@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<form id="change-password-form" class="form" method="post">
    <h3 class="form-title">
        @ViewData["Title"]
    </h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating">
        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
        <label asp-for="Input.OldPassword" class="form-label"></label>
        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
        <label asp-for="Input.NewPassword" class="form-label"></label>
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="form-actions">
        <button type="submit" class="btn btn-primary form-btn">Update password</button>
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
