.mobile-profile-menu {
    justify-content: center;
    flex-wrap: initial;
}

@media (min-width: 768px) {
    .mobile-profile-menu {
        display: none;
    }
}

@media (max-width: 600px) {
    .mobile-profile-menu .nav-item {
        margin: 0 5px;
    }

    hr {
        display: none;
    }
}

@media (max-width: 500px) {
    .mobile-profile-menu .nav-item {
        margin: 0 2px;
    }
}