@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<div class="page-msg">
    <RemoteAuthenticatorView Action="@Action" />
</div>

@code {
    [Parameter] public string? Action { get; set; }
}
