@page "/"
@using PhotoChallenge.Client.Pages.Public

<PageTitle>
    Actual Challenges | PhotoChallenge
</PageTitle>

<div class="row main-row columns-height columns-height-lg">
    <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-0 col-md-12 offset-md-0">
        <h1 class="main-title">
            PhotoChallenge
        </h1>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 challenges-column">
        <CurrentChallenges />
    </div>
</div>